In [114]:
import pandas as pd
import glob
import os

# CSV 파일이 있는 디렉토리 경로 정의
directory_path = r'C:\Users\twoimo\Documents\GitHub\NewTownInsight\일자리'

# glob을 사용하여 디렉토리 내의 모든 CSV 파일 찾기
csv_files = glob.glob(os.path.join(directory_path, '*.csv'))\

# 모든 CSV 파일을 읽어와서 하나의 DataFrame으로 합치기
combined_df = pd.concat([pd.read_csv(file, encoding='EUC-KR') for file in csv_files], axis=1, ignore_index=False)

# Unnamed: 4 컬럼명 모두 제거
combined_df = combined_df.loc[:, ~combined_df.columns.str.contains('^Unnamed')]

display(combined_df.head())

,분류별,항목,단위,2006 년,분류별,항목,단위,2006 년,분류별,항목,...,단위,2006 년,분류별,항목,단위,2006 년,분류별,항목,단위,2006 년
0,전산업,고양시[개],개,43245.0,전산업,고양시[명],명,198137.0,전산업,고양시[명],...,개,43245.0,전산업,고양시 -사업체수[개],개,43245.0,전 산 업,고양시-사업체수[개],개,43245
1,전산업,덕양구[개],개,17360.0,전산업,덕양구[명],명,68891.0,전산업,덕양구[명],...,명,198137.0,전산업,-종사자수[명],명,198137.0,전 산 업,-종사자수[명],명,198137
2,전산업,주교동[개],개,1103.0,전산업,주교동[명],명,4332.0,전산업,주교동[명],...,개,17360.0,전산업,덕양구 -사업체수[개],개,17360.0,전 산 업,덕양구-사업체수[개],개,17360
3,전산업,원신동[개],개,243.0,전산업,원신동[명],명,1171.0,전산업,원신동[명],...,명,68891.0,전산업,-종사자수[명],명,68891.0,전 산 업,-종사자수[명],명,68891
4,전산업,흥도동[개],개,287.0,전산업,흥도동[명],명,1527.0,전산업,흥도동[명],...,개,1103.0,전산업,주교동 -사업체수[개],개,1103.0,전 산 업,주교동-사업체수[개],개,1103

In [86]:
combined_df = combined_df.drop(['분류별', '단위'], axis=1, inplace=False)
combined_df

,항목,2006 년,항목,2006 년,항목,2006 년,항목,2006 년,항목,2006 년,항목,2006 년,항목,2006 년
0,고양시[개],43245.0,고양시[명],198137.0,고양시[명],198137.0,고양시 -사업체수[개],43245.0,고양시 -사업체수[개],43245.0,고양시 -사업체수[개],43245.0,고양시-사업체수[개],43245
1,덕양구[개],17360.0,덕양구[명],68891.0,덕양구[명],68891.0,-종사자수[명],198137.0,-종사자수[명],198137.0,-종사자수[명],198137.0,-종사자수[명],198137
2,주교동[개],1103.0,주교동[명],4332.0,주교동[명],4332.0,덕양구 -사업체수[개],17360.0,덕양구 -사업체수[개],17360.0,덕양구 -사업체수[개],17360.0,덕양구-사업체수[개],17360
3,원신동[개],243.0,원신동[명],1171.0,원신동[명],1171.0,-종사자수[명],68891.0,-종사자수[명],68891.0,-종사자수[명],68891.0,-종사자수[명],68891
4,흥도동[개],287.0,흥도동[명],1527.0,흥도동[명],1527.0,주교동 -사업체수[개],1103.0,주교동 -사업체수[개],1103.0,주교동 -사업체수[개],1103.0,주교동-사업체수[개],1103
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-종사자수[명],149
18518,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,창릉동-사업체수[개],1
18519,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-종사자수[명],50
18520,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,고양동-사업체수[개],1
18521,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-종사자수[명],99

In [103]:
cleaned_df = combined_df.dropna()
cleaned_df

,항목,2006 년,항목,2006 년,항목,2006 년,항목,2006 년,항목,2006 년,항목,2006 년,항목,2006 년
0,고양시[개],43245.0,고양시[명],198137.0,고양시[명],198137.0,고양시 -사업체수[개],43245.0,고양시 -사업체수[개],43245.0,고양시 -사업체수[개],43245.0,고양시-사업체수[개],43245
1,덕양구[개],17360.0,덕양구[명],68891.0,덕양구[명],68891.0,-종사자수[명],198137.0,-종사자수[명],198137.0,-종사자수[명],198137.0,-종사자수[명],198137
2,주교동[개],1103.0,주교동[명],4332.0,주교동[명],4332.0,덕양구 -사업체수[개],17360.0,덕양구 -사업체수[개],17360.0,덕양구 -사업체수[개],17360.0,덕양구-사업체수[개],17360
3,원신동[개],243.0,원신동[명],1171.0,원신동[명],1171.0,-종사자수[명],68891.0,-종사자수[명],68891.0,-종사자수[명],68891.0,-종사자수[명],68891
4,흥도동[개],287.0,흥도동[명],1527.0,흥도동[명],1527.0,주교동 -사업체수[개],1103.0,주교동 -사업체수[개],1103.0,주교동 -사업체수[개],1103.0,주교동-사업체수[개],1103
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6152,주엽1동[개],49.0,성사2동[명],1.0,고봉동[명],25.0,원신동 -사업체수[개],69.0,일산동구-사업체수[개],10.0,대화동-사업체수[개],7.0,대덕동-사업체수[개],1
6153,주엽2동[개],63.0,신도동[명],1.0,백석2동[명],42.0,-종사자수[명],227.0,-종사자수[명],184.0,-종사자수[명],118.0,-종사자수[명],67
6154,대화동[개],70.0,관산동[명],1.0,일산서구[명],527.0,흥도동 -사업체수[개],58.0,식사동-사업체수[개],1.0,송포동-사업체수[개],1.0,일산동구-사업체수[개],3
6155,송포동[개],25.0,능곡동[명],1.0,일산1동[명],21.0,-종사자수[명],189.0,-종사자수[명],30.0,-종사자수[명],6.0,-종사자수[명],195
6156,송산동[개],27.0,화정1동[명],4.0,일산2동[명],59.0,성사1동-사업체수[개],347.0,풍산동-사업체수[개],2.0,송산동-사업체수[개],5.0,백석동-사업체수[개],1