### 필터링 기준 (학교)
> 사용 열 :     "학교명", "학교급구분", "설립일자", "설립형태", "운영상태", "소재지지번주소", "소재지도로명주소", "시도교육청명", "위도", "경도"
- 필터링 (1) : 분당, 일산 단어가 포함된 위치 우선적으로 선택

In [2]:
import numpy as np
import pandas as pd
import os

os.chdir("/Users/shinjh/Desktop/likelion/mid_project/dataset_life_infra")

In [3]:
data_school = pd.read_csv("./전국학교위치표준데이터-20241112.csv", encoding='utf-8')

In [8]:
data_school_sort = data_school[["학교명", "학교급구분", "설립일자", "설립형태", "운영상태", "소재지지번주소", "소재지도로명주소", "시도교육청명", "위도", "경도"]]
data_school_sort.head(3)

,학교명,학교급구분,설립일자,설립형태,운영상태,소재지지번주소,소재지도로명주소,시도교육청명,위도,경도
0,대전용산초등학교,초등학교,2007-09-01,공립,운영,대전광역시 유성구 용산동 662,대전광역시 유성구 배울2로 101,대전광역시교육청,36.420154,127.395076
1,상당초등학교,초등학교,1997-03-01,공립,운영,부산광역시 해운대구 좌동 1405,부산광역시 해운대구 세실로 173,부산광역시교육청,35.179656,129.176031
2,미성중학교,중학교,1984-05-17,공립,운영,서울특별시 관악구 신림동 745-24,서울특별시 관악구 문성로16길 40,서울특별시교육청,37.475383,126.912089

In [17]:
ilsan = data_school_sort[
    data_school_sort["소재지도로명주소"].combine_first(data_school_sort["소재지지번주소"]).str.contains("일산", na=False)].reset_index(drop=True)

In [19]:
ilsan.head()

,학교명,학교급구분,설립일자,설립형태,운영상태,소재지지번주소,소재지도로명주소,시도교육청명,위도,경도
0,신일비즈니스고등학교,고등학교,1996-03-01,공립,운영,경기도 고양시 일산서구 일산동 1041,경기도 고양시 일산서구 킨텍스로 452,경기도교육청,37.683058,126.762179
1,백마고등학교,고등학교,2017-05-04,공립,운영,경기도 고양시 일산동구 백석동 1138,경기도 고양시 일산동구 백석로 155,경기도교육청,37.651982,126.794012
2,고양예술고등학교,고등학교,2005-10-12,사립,운영,경기도 고양시 일산서구 덕이동 753-11,경기도 고양시 일산서구 덕이로172번길 4-39,경기도교육청,37.697410,126.742303
3,한류초등학교,초등학교,2019-09-01,공립,운영,경기도 고양시 일산동구 장항동 1779,경기도 고양시 일산동구 한류월드로 262,경기도교육청,37.662268,126.756958
4,백송고등학교,고등학교,1974-01-05,사립,운영,경기도 고양시 일산서구 덕이동 753-11,경기도 고양시 일산서구 덕이로 172번길 4-39,경기도교육청,37.697410,126.742303

In [25]:
ilsan.groupby(by='학교급구분').size()

학교급구분
고등학교    23
중학교     23
초등학교    50
dtype: int64

In [20]:
ilsan.to_csv("./dataset_life_infra_일산_학교.csv", encoding='utf-8')

In [21]:
bundang = data_school_sort[
    data_school_sort["소재지도로명주소"].combine_first(data_school_sort["소재지지번주소"]).str.contains("분당", na=False)].reset_index(drop=True)

In [22]:
bundang.head()

,학교명,학교급구분,설립일자,설립형태,운영상태,소재지지번주소,소재지도로명주소,시도교육청명,위도,경도
0,판교대장초등학교,초등학교,2021-06-01,공립,운영,경기도 성남시 분당구 대장동 155,경기도 성남시 분당구 판교대장로5길 71,경기도교육청,37.368259,127.069717
1,수내초등학교,초등학교,1993-01-11,공립,운영,경기도 성남시 분당구 수내동 81,경기도 성남시 분당구 백현로243번길 12,경기도교육청,37.367766,127.124663
2,산운초등학교,초등학교,2009-03-01,공립,운영,경기도 성남시 분당구 운중동 927,경기도 성남시 분당구 판교원로117번길 11,경기도교육청,37.389753,127.079026
3,서현초등학교,초등학교,1991-09-01,공립,운영,경기도 성남시 분당구 서현동 87-1,경기도 성남시 분당구 중앙공원로39번길 12,경기도교육청,37.382576,127.128550
4,성남송현초등학교,초등학교,2009-03-01,공립,운영,경기도 성남시 분당구 삼평동 710,경기도 성남시 분당구 동판교로 258,경기도교육청,37.405452,127.116346

In [26]:
bundang.groupby(by='학교급구분').size()

학교급구분
고등학교    24
중학교     26
초등학교    38
dtype: int64

In [27]:
bundang.to_csv("./dataset_life_infra_분당_학교.csv", encoding='utf-8')